@tailwind base;
@tailwind components;
@tailwind utilities;

.mainColor {

    background-color: #03fc88;
}

.ant-menu-item {
    background-color: #592f0c !important;
    margin: 4px !important;
    margin-right: 0 !important;
    border-radius: 2px !important;
}

.dopeBorder {
    border-radius: 12px;
    border-width: 8px;
    border-color: white;
    border-style: groove;
    border-left-width: 0;

}

.waterBackground {
    background-image: url("/assets/water/waterbigger.png");
    background-size: "200px";
}

html {
    background-color: #003014;
}

